body {
    background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
    background-position: center;
    font-family: 'Special Elite', cursive; /* Use a Harry Potter font */
    text-align: center;
    position: relative;
}

.container {
    margin: 22px auto;
    width: 80%;
    max-width: 600px;
    background-color: #423d3d79;
    border: 2px solid #272121;
    border-radius: 10px;
    box-shadow: 0 50px 96px rgba(0, 0, 0, 0.2);
    padding: 19px;
}

h1 {
    color: #4e4e4e;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    background: linear-gradient(to bottom, #ffeb3b, #fffed7); /* Yellow gradient */
    border: 2px solid #4e4e4e;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    transition: transform 0.5s, box-shadow 0.5s;
}

.trophy {
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}

.fire-animation {
    animation: fire 1.5s infinite;
}

@keyframes fire {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); }
}

.magic-animation {
    animation: magic 1.5s infinite;
}

@keyframes magic {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); opacity: 0.8; }
}

.highest {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 215, 0, 1);
}
